<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width">
<style>
body {background:#0f172a;color:white;font-family:Arial;display:flex;justify-content:center;align-items:center;height:100vh;}
.card{background:#1e293b;padding:25px;border-radius:15px;width:90%;max-width:300px;}
input,button{width:100%;padding:10px;margin:5px 0;border-radius:10px;border:none;}
button{background:#22c55e;color:white;}
</style>
</head>
<body>
<div class="card">
<h2>NegocioPro</h2>
<form method="POST">
<input name="user" placeholder="Usuario">
<input name="password" type="password" placeholder="Contraseña">
<button>Entrar</button>
</form>
</div>
</body>
</html>
